body
{
    background-color: rgb(45, 223, 223);
}
h1
{
    color: rgb(66, 194, 54);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

}
h2 
{
 color: rgb(32, 32, 236);
}
h3
{
    color: rgb(230, 22, 22);
}